/* Headline of top */
.top-headline {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  padding: 8px 0;
}

.container {
  max-width: 1080px;
  margin: auto;
}

/* Hero */
.hero {
  height: 80vh;
  background: var(--color-bgc);
  position: relative;
}

.search-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  background-color: #fff;
  width: 1080px;
  padding: 48px;
  text-align: center;
}

.search-box h3 {
  margin: 32px 0 16px 0;
}

/* home ads */
.carousel-box {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.doc-img img {
  height: 350px;
}

.specialisation,
.caring,
.family {
  min-height: 70vh;
  background: var(--color-bgc);
}

/* caring section */
.caring-card {
  position: absolute;
  top: -180px;
  left: 0;
}

.caring-image-1 {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 0;
  transform: translateX(50%);
}

.caring-image-2 {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 9;
}

.caring-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

/* faqs section */

.faq-image {
  position: relative;
  width: 50%;
}

.faq-card {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: -40px;
}

/* download */
.small-mobile {
  position: absolute;
  z-index: -10;
  bottom: 180px;
}
.large-mobile {
  position: absolute;
  left: 150px;
  z-index: -11;
}
.tel-code {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}
/* footer */
.footer {
  background-color: var(--color-footer);
  color: white;
}

/* My bookings */
.colored-box {
  height: 80px;
  background-color: var(--color-primary);
  border-radius: 0 0 12px 12px;
}

.my-bookings-page {
  background: var(--color-bgc);
  min-height: 70vh;
}

.booking-card-img {
  position: relative;
  height: 120px;
  width: 120px;
  background: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.booking-card-img .verified {
  position: absolute;
  bottom: 12px;
  right: 0;
}

.deleted-text {
  text-decoration: line-through;
  color: var(--color-bgc);
}
