:root {
  --color-primary: #2aa7ff;
  --color-bgc: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  --color-footer: #1b3c74;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
